<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 widget">
			<div class="title">
				<span>{{$ctrl.container.Name}}</span><span class="pull-right">{{$ctrl.container.Config.Hostname}}</span>
			</div>
			<div class="body row">

				<div class="col-md-12 widget top-margin-20px">
					<div class="body">
						<div ng-repeat="(key, value) in $ctrl.container track by $index"
							class="element-row" data-fittext data-fittext-min="10"
							data-fittext-max="12">

							<div ng-if="$ctrl.isObject(value)">
								<div class="title" ng-click="collapsed=!collapsed">
									<span>{{key}}</span>
								</div>
								<div ng-show="collapsed">
									<div ng-repeat="(key1, value1) in value" class="element-row"
										data-fittext data-fittext-min="10" data-fittext-max="12">

										<div ng-if="$ctrl.isObject(value1)">
											<div class="title" ng-click="collapsed1=!collapsed1">
												<span>{{key1}}</span>
											</div>
											<div ng-show="collapsed1">
												<div ng-repeat="(key2, value2) in value1 track by $index"
													class="element-row" data-fittext data-fittext-min="10"
													data-fittext-max="12">

													<div ng-if="$ctrl.isObject(value2)">
														<div class="title" ng-click="collapsed2=!collapsed2">
															<span>{{key2}}</span>
														</div>
														<div ng-show="collapsed2">
															<div ng-repeat="(key3, value3) in value2 track by $index"
																class="element-row" data-fittext data-fittext-min="10"
																data-fittext-max="12">

																<form class="form">
																	<div class="form-group form-group-sm">
																		<div class="input-group input-group-sm">
																			<span class="input-group-addon">{{key3}}</span> <input
																				type="text" class="form-control"
																				id="targetNumberOfContainers" ng-value="value3"
																				readonly>
																		</div>
																	</div>
																</form>
															</div>
														</div>
													</div>
													<form class="form" ng-if="!$ctrl.isObject(value2)">
														<div class="form-group form-group-sm">
															<div class="input-group input-group-sm">
																<span class="input-group-addon">{{key2}}</span> <input
																	type="text" class="form-control"
																	id="targetNumberOfContainers" ng-value="value2"
																	readonly>
															</div>
														</div>
													</form>

												</div>
											</div>
										</div>
										<form class="form" ng-if="!$ctrl.isObject(value1)">
											<div class="form-group form-group-sm">
												<div class="input-group input-group-sm">
													<span class="input-group-addon">{{key1}}</span> <input
														type="text" class="form-control"
														id="targetNumberOfContainers" ng-value="value1" readonly>
												</div>
											</div>
										</form>

									</div>
								</div>
							</div>

							<form class="form" ng-if="!$ctrl.isObject(value)">
								<div class="form-group form-group-sm">
									<div class="input-group input-group-sm">
										<span class="input-group-addon">{{key}}</span> <input
											type="text" class="form-control"
											id="targetNumberOfContainers" ng-value="value" readonly>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>

				<!-- <div class="col-md-4 widget top-margin-20px">
						<div class="title">
		          <span class="badge">Network</span><span class="pull-right">{{$ctrl.container.HostConfig.NetworkMode}}</span>
		        </div>
						<div class="body fixed-height">
							<div ng-repeat="(key, value) in $ctrl.container.NetworkSettings"
								class="element-row"
								data-fittext data-fittext-min="10" data-fittext-max="12">
								<span>{{$ctrl.splitOnUppercase(key)}} = {{value}}</span>
							</div>
						</div>
		      </div>

					<div class="col-md-4 widget top-margin-20px">
						<div class="title">
		          <span class="badge">Node</span>
		        </div>
						<div class="body fixed-height">
							<div ng-repeat="(key, value) in $ctrl.container.Node"
								class="element-row"
								data-fittext data-fittext-min="10" data-fittext-max="12">
								<span>{{$ctrl.splitOnUppercase(key)}} = {{value}}</span>
							</div>
						</div>
		      </div>

					<div class="col-md-4 widget top-margin-20px">
						<div class="title">
		          <span class="badge">Config</span>
		        </div>
						<div class="body fixed-height">
							<div ng-repeat="(key, value) in $ctrl.container.Config"
								class="element-row"
								data-fittext data-fittext-min="10" data-fittext-max="12">
								<span>{{$ctrl.splitOnUppercase(key)}} = {{value}}</span>
							</div>
						</div>
		      </div>

					<div class="col-md-4 widget top-margin-20px">
						<div class="title">
		          <span class="badge">Host Config</span>
		        </div>
						<div class="body fixed-height">
		          <div ng-repeat="(key, value) in $ctrl.container.HostConfig"
								class="element-row"
		            data-fittext data-fittext-min="10" data-fittext-max="12">
		            <span>{{$ctrl.splitOnUppercase(key)}} = {{value}}</span>
		          </div>
						</div>
		      </div>

					<div class="col-md-4 widget top-margin-20px">
						<div class="title">
		          <span class="badge">State</span>
		        </div>
						<div class="body fixed-height">
		          <div ng-repeat="(key, value) in $ctrl.container.State"
								class="element-row"
		            data-fittext data-fittext-min="10" data-fittext-max="12">
		            <span>{{$ctrl.splitOnUppercase(key)}} = {{value}}</span>
		          </div>
						</div>
		      </div>

					<div class="col-md-4 widget top-margin-20px">
						<div class="title">
		          <span class="badge">Logs</span>
		        </div>
						<div class="body fixed-height">
		          <div ng-repeat="line in $ctrl.logs track by $index"
								class="element-row"
		            data-fittext data-fittext-min="10" data-fittext-max="12">
		            <p>{{line}}</p>
		          </div>
						</div>
		      </div> -->

			</div>
			<div class="footer" data-fittext data-fittext-min="10"
				data-fittext-max="inherit">
				<span>{{$ctrl.container.Id}}</span>
			</div>
		</div>
	</div>
</div>
